header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

section {
	border: 1px solid #ddd;
	margin: 10px;
}
body{
    align-items: center;
    justify-content: center;
}


button.accordion {
	background-color: #eee;
	color: #333;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 16px;
	transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
	background-color: #ccc;
}

button.accordion:after {
	content: '\02795';
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

button.accordion.active:after {
	content: "\2796";
}

div.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

div.panel.show {
	max-height: 500px;
}
